<div class="container">
    <div class="box">
        <div class="head">
            <h1>משימות</h1>
            <div class="addButton">
                {{new-todo}}             
            </div>
        </div>
        <div class="body">
            {{list-showing }}
        </div>
    </div>
</div>
